        <div class="row">
            <div class="column col-70">
                <div class="widget-box">
                <div class="headding">Buttons</div>
                <div class="body">
                    <div class="row">
                        <div class="column">
                    <button class="round-button-large-green"><span class="button-icon fa-bar-chart"></span>Green button</button>
                    <button class="round-button-large-red">Green button</button>
                    <button class="round-button-large-blue">Green button</button>
                    <button class="round-button-large-ash">Green button</button>
                    </div>
                    </div>
                    <div class="row">
                        <div class="column">
                    <button class="round-button-medium-green">Green button</button>
                    <button class="round-button-medium-red">Green button</button>
                    <button class="round-button-medium-blue">Green button</button>
                    <button class="round-button-medium-ash">Green button</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                    <button class="round-button-medium-green"><span class="button-icon fa-bar-chart"></span>Green button</button>
                    <button class="round-button-medium-red">Green button</button>
                    <button class="round-button-medium-blue">Green button</button>
                    <button class="round-button-medium-ash">Green button</button>
                        </div>
                    </div>
                    
                    
                </div>
                    
            </div>
            </div>
            <div class="column col-70">
                <div class="widget-box">
                <div class="headding">Icons</div>
                <div class="body">
                    
                    <div class="row">
                        <div class="column">
                            <span class="basic-icon small fa-bar-chart"></span>
                            <span class="basic-icon small fa-bar-chart"></span>
                            <span class="basic-icon small fa-bar-chart"></span>
                            <span class="basic-icon small fa-bar-chart"></span>
                            <span class="basic-icon small fa-bar-chart"></span>
                            <span class="basic-icon small fa-bar-chart"></span>
                            <span class="basic-icon small fa-bar-chart"></span>
                            <span class="basic-icon small fa-bar-chart"></span>
                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <span class="basic-icon medium fa-bar-chart"></span>
                            <span class="basic-icon medium fa-bar-chart"></span>
                            <span class="basic-icon medium fa-bar-chart"></span>
                            <span class="basic-icon medium fa-bar-chart"></span>
                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <span class="basic-icon large fa-bar-chart"></span>
                            <span class="basic-icon large fa-bar-chart"></span>
                            <span class="basic-icon large fa-bar-chart"></span>
                            <span class="basic-icon large fa-bar-chart"></span>
                    
                        </div>
                    </div>
                </div>
                    
            </div>
            </div>
            <div class="column col-100">
                <div class="widget-box">
                <div class="headding">Navigation</div>
                <div class="body">
                    
                  <nav class="horizontal-menu">
                        <ul>
                            <li><a href="">Link</a></li>
                            <li><a href="">Link</a></li>
                            <li><a href="">Link</a></li>
                            <li><a href="">Link</a></li>
                        
                        </ul>   
                    </nav>
                    
                    <nav class="horizontal-icon-menu">
                        <ul>
                            <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>
                            <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>
                            <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>
                            <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>
                        
                        </ul>   
                    </nav>
                    
                    <div class="row">
                        <div class="column col-50">
                            <nav class="vertical-menu">
                                <ul>
                                    <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>
                                    <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>
                                    <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>
                                    <li><a href=""><span class="icon fa-bar-chart"></span>Link</a></li>

                                </ul>   
                            </nav>
                        </div>
                        <div class="column col-50">
                        </div>
                    
                    </div>
                    
                     
                    
                    
                    
                </div>
                
                </div>
            
            </div>
            
            <div class="column col-100">
                <div class="widget-box">
                <div class="headding">Table</div>
                <div class="body">
                    
                
                    
                   
                    
                    <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <th class="header">Header </th>
                                <th class="header">Header</th> 
                                <th class="header">Header</th>
                                <th class="header">Header</th>
                                <th class="header">Header</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><span class="urgency top"></span>10</td>
                                <td>########</td>  
                                <td>##########</td>
                                <td>##########</td>
                                <td>##########</td>
                              </tr>
                              <tr>
                                <td><span class="urgency less"></span>10</td>
                                <td>#######</td>  
                                <td>##########</td>
                                <td>##########</td>
                                <td>##########</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>######</td>  
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>#######</td>  
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>

                              <tr>
                                <td>#####</td>
                                <td>LKR</td>  
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>#####</td>
                                <td>LKR</td>  
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                            </table>
                        </div>  
                    
                    
                    
                </div>
                
                </div>
            
            </div>
            
            
        </div>