
        
       
        <div class="row">
            <div class="column col-25">
                <div class="widget-box"> 
                    <div class="headding">Heading</div>
                    <div class="body">
                        <div class="center-img"><img class="full-img"  src="assets/img/layout1.svg"></div>
                        <a href="">Download</a> | <a href="demo/layout1/" target="_blank">Demo</a>
                    </div>                    
                </div>
            </div>
            <div class="column col-25">
                <div class="widget-box">
                    <div class="headding">Heading</div>
                    <div class="body">
                        <div class="center-img"><img class="full-img"  src="assets/img/layout2.svg"></div>
                        <a href="">Download</a> | <a href="demo/layout2/" target="_blank">Demo</a>
                    </div> 
                </div>
            </div>
            <div class="column col-25">
                <div class="widget-box">
                    <div class="headding">Heading</div>
                    <div class="body">
                        <div class="center-img"><img class="full-img"  src="assets/img/layout3.svg"></div>
                        <a href="">Download</a> | <a href="demo/layout3/" target="_blank">Demo</a>
                    </div> 
                </div>
            </div>
            <div class="column col-25">
                <div class="widget-box"> 
                    <div class="headding">Heading</div>
                    <div class="body">
                        <div class="center-img"><img class="full-img"  src="assets/img/layout4.svg"></div>
                        <a href="">Download</a> | <a href="demo/layout4/" target="_blank">Demo</a>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column col-25">
                <div class="widget-box"> 
                    <div class="headding">Heading</div>
                    <div class="body">
                        <div class="center-img"><img class="full-img"  src="assets/img/layout4.svg"></div>
                        <a href="">Download</a> | <a href="demo/layout4/" target="_blank">Demo</a>
                    </div>                    
                </div>
            </div>
            <div class="column">
                <div class="widget-box">
                    <div class="headding">Heading</div>
                    <div class="body"></div> 
                </div>
            </div>
            <div class="column">
                <div class="widget-box">
                    <div class="headding">Heading</div>
                    <div class="body"></div> 
                </div>
            </div>
        </div>
       
      