// icons

.basic-icon{
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-synthesis: weight style;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    &.small{
        width: 30px;
        height: 30px;
        font-size: 1em;
        padding: 8px;
    }
    &.medium{
        width: 45px;
        height: 45px;
        font-size: 1.5em;
        padding: 10px;
    }
    &.large{
        width: 60px;
        height: 60px;
        font-size: 2em;
        padding: 15px;
    }
    
}