.banner{
            text-align: center;
            top: 0px;
            height: 390px;
            overflow: hidden;
            @include clearfix();
            .sliders { 
                position:relative; 
                top:0px;left:0px;
                .slide { 
                    position:absolute;
                    z-index: 2;
                    top:0px;
                    left:0px; 
                    width: 100%; 
                    height: 390px;
                    background-repeat: no-repeat;
                    background-position: center center fixed;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    opacity:0;
                    @include transition(all, 2s, linear);
                    @include transition(opacity, 2s, ease-in);
                    .slide-caption{
                        position:relative;
                        z-index: 10;
                        margin: 0px auto;
                        vertical-align: middle;
                        top: 10%;
                        color: $pure-white;
                        @include transition(all, 1.5s, linear);
                        @include transition(opacity, 1.5s, ease-in);
                        opacity: 0;
                        background-color: rgba(0,0,0,0.6);
                        display: block;
                        width: 80%;
                        padding: 2em;
                        h2{
                            font-size: 1.1em;
                        }
                        h3{
                            font-size: 0.8em;
                        }
                        
                    }
                    &.active{
                        opacity:1;
                        z-index: 3;
                        max-height: 700px;
                        .slide-caption{
                           opacity: 1;
                           @include transform(translate3d(0px, 200px, 0px)); 
                        }
                        
                    }

                }
            }
            ul.triggers { position:absolute; top:310px; left:80px; }
            ul.triggers li { 
                float:left; margin:0 5px; font: bold 16px arial; cursor:pointer;
                background-color:#ccc; color:#000; padding:10px;
                list-style: none;
            }
            ul.triggers li.active {background-color:red; color:#000;}
            
        }
.slide1-img1{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -200px;
    margin-left: 20%;
    border: 5px solid $pure-white;
    @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.4));
    position:absolute;
}
.slide1-img2{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -200px;
    margin-left: 45%;
    border: 5px solid $pure-white;
    @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.4));
    position:absolute;
}
.slide1-img3{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -200px;
    margin-left: 70%;
    border: 5px solid $pure-white;
    @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.4));
    position:absolute;
}

.slide{
    .slide1-img1.animate-top-to-bottom-banner-img{
            opacity: 0;
          @include transition(all, 3s, linear);
          @include transform(translate3d(0px, 100px, 0px));
          @include transform(translate(-10px, 0px)); 

        }
    .slide1-img2.animate-top-to-bottom-banner-img{
            opacity: 0;
          @include transition(all, 4s, linear);
          @include transform(translate3d(0px, 100px, 0px));
          @include transform(translate(-10px, 0px)); 

        }
    .slide1-img3.animate-top-to-bottom-banner-img{
            opacity: 0;
          @include transition(all, 2s, linear);
          @include transform(translate3d(0px, 100px, 0px));
          @include transform(translate(-10px, 0px)); 

        }
    &.active{
        .slide1-img1.animate-top-to-bottom-banner-img{
            opacity: 1;
            @include transform(rotate(40deg) translate3d(30px, 200px, 0px));

        }
        .slide1-img2.animate-top-to-bottom-banner-img{
            opacity: 1;
            @include transform(rotate(40deg) translate3d(30px, 180px, 0px));

        }
        .slide1-img3.animate-top-to-bottom-banner-img{
            opacity: 1;
            @include transform(rotate(40deg) translate3d(30px, 160px, 0px));

        } 
    }
}

.promo-banner{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
}