// lists
.list-round{
    li{
        list-style:inside circle;
        margin-bottom: 1em;
        
    }
    
}
.list-number{
    li{
        list-style:inside decimal;
        margin-bottom: 1em;
    }
}

