$body-bg:#FAFAFA;
$pure-white:#ffffff;
$light-white:#e5e5e5;
$dark-ash-2:#29384C;
$link-blue:#3598C1;
$text-ash:#555555;
$text-ash-border:#666666;
$ash3:#eeeeee;
$shadow-box:#999999;


$p-nav-bg:#E6F0F6;
$text-nav-cl:#AABDC8;
$common-txt-color:#929498;
$active-blue:#33ADF0;
$border-cl-nav:#DADDDE;
$active-red:#D75328;
$notify-red:#F2780A;
$notify-green:#9FCB06;
$dark-body-bg:#E3E2E3;
$body-txt-color:#9EB3C1;
$brand-green:#4CAE4C;
$pure-white:#ffffff;
$pure-black:#000000;
$button-blue:#0288D1;
$button-red:#E57373;
$button-green:#66BB6A;
$bg-green:#87C97F;
$bg-blue:#3598C1;
$bg-black:#414A53;
$bg-red:#FF8357;
$bg-yellow:#FFDD57;
$menu-txt-color:#A1A1A1;

$light-ash2:#dddddd;
$dark-ash-1:#657181;

$brand-red:#ea5a5a;
$light-green:#78b823;
