.navigate-section{
    .toggle-menu{
        display: none !important;
    }
    .primary-nav{
        @include bg-gradient-t2b(#43A4E2, #265EAE);
        position:relative;
        //width: 250px;
        z-index: 1;
        height: 100%;
        //right: 0px;
        ul{
            li{
                display: inline-block;
            }
        }
    }  
}

.page-container {
    margin: 0 0 0 0;  
}