.navigate-section{
    .primary-nav{
        @include bg-gradient-t2b(#E8E8E8, #E8E8E8);
        position: fixed;
        width: 250px;
        z-index: 1;
        height: 100%;
        visibility: visible;
        ul{
            li{
                a{
                    color:#787A7D;
                }
            }
        }
    }
    @media (max-width: 760px) {
        .primary-nav {
            visibility: hidden;
            }
    }
}

.page-container {
    margin: 0 0 0 250px;  
}
@media (max-width: 760px) {
        .page-container {
            margin: 0 0 0 0px;  
        }
    }